In [129]:
import pandas as pd
import numpy as np

In [130]:
#import the covid deaths csv
deaths_df = pd.read_csv('deaths.csv')
list(deaths_df.columns)

/Users/justinobrien/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['Data As Of',
 'Start Date',
 'End Date',
 'Group',
 'Year',
 'Month',
 'State',
 'Sex',
 'Age Group',
 'COVID-19 Deaths',
 'Total Deaths',
 'Pneumonia Deaths',
 'Pneumonia and COVID-19 Deaths',
 'Influenza Deaths',
 'Pneumonia, Influenza, or COVID-19 Deaths',
 'Footnote']

In [131]:
deaths_df = deaths_df.drop(['Sex','Total Deaths', 'Pneumonia Deaths', 'Pneumonia and COVID-19 Deaths','Influenza Deaths', 'Pneumonia, Influenza, or COVID-19 Deaths','Footnote', 'Age Group', 'Year', 'Month'], axis=1)

In [132]:
deaths_df = deaths_df.loc[(deaths_df['State'] != 'United States')]
deaths_df.head()

    Data As Of  Start Date    End Date     Group    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  By Total  Alabama               0

In [133]:
deaths_df = deaths_df.drop(['Group'], axis = 1)
deaths_df.head()

    Data As Of  Start Date    End Date    State COVID-19 Deaths
51  04/21/2021  01/01/2020  04/17/2021  Alabama          10,334
52  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
53  04/21/2021  01/01/2020  04/17/2021  Alabama             NaN
54  04/21/2021  01/01/2020  04/17/2021  Alabama               0
55  04/21/2021  01/01/2020  04/17/2021  Alabama               0

In [134]:
deaths_df = deaths_df.drop(['Data As Of'], axis=1)

In [135]:
deaths_df = deaths_df.dropna()

In [136]:
deaths_df[['Start Date','End Date']] = deaths_df[['Start Date', 'End Date']].apply(pd.to_datetime)

In [137]:
deaths_df['COVID-19 Deaths'] = pd.to_numeric(deaths_df['COVID-19 Deaths'], errors = 'coerce')

In [138]:
deaths_df = deaths_df[deaths_df.State != 'Puerto Rico']

In [139]:
deaths_df = deaths_df[deaths_df.State != 'District of Columbia']

In [140]:
deaths_df.replace(
    to_replace= ['New York City'], 
    value = 'New York',
    inplace= True
)
deaths_df

      Start Date   End Date    State  COVID-19 Deaths
51    2020-01-01 2021-04-17  Alabama              NaN
54    2020-01-01 2021-04-17  Alabama              0.0
55    2020-01-01 2021-04-17  Alabama              0.0
56    2020-01-01 2021-04-17  Alabama             11.0
57    2020-01-01 2021-04-17  Alabama             35.0
...          ...        ...      ...              ...
51505 2021-04-01 2021-04-17  Wyoming              0.0
51506 2021-04-01 2021-04-17  Wyoming              0.0
51507 2021-04-01 2021-04-17  Wyoming              0.0
51508 2021-04-01 2021-04-17  Wyoming              0.0
51509 2021-04-01 2021-04-17  Wyoming              0.0

[37578 rows x 4 columns]

In [141]:
prevax= deaths_df[deaths_df['End Date']<='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
prevax

                COVID-19 Deaths
State
Alabama                 36036.0
Alaska                   1767.0
Arizona                 38259.0
Arkansas                22793.0
California              68739.0
Colorado                25913.0
Connecticut             23171.0
Delaware                 7124.0
Florida                 55453.0
Georgia                 44561.0
Hawaii                   2853.0
Idaho                   11074.0
Illinois                45842.0
Indiana                 34225.0
Iowa                    23069.0
Kansas                  18648.0
Kentucky                23198.0
Louisiana               36376.0
Maine                    3433.0
Maryland                32857.0
Massachusetts           26939.0
Michigan                36573.0
Minnesota               26774.0
Mississippi             29770.0
Missouri                31788.0
Montana                  9300.0
Nebraska                15212.0
Nevada                  21914.0
New Hampshire            6347.0
New Jersey              39795.0
New Mexico              18535.0
New York                69607.0
North Carolina          36229.0
North Dakota            10755.0
Ohio                    38592.0
Oklahoma                26141.0
Oregon                  11552.0
Pennsylvania            38725.0
Rhode Island            13647.0
South Carolina          28831.0
South Dakota            12344.0
Tennessee               32802.0
Texas                   67372.0
Utah                    12175.0
Vermont                   932.0
Virginia                32314.0
Washington              21283.0
West Virginia           11173.0
Wisconsin               26068.0
Wyoming                  3594.0

In [142]:
postvax= deaths_df[deaths_df['End Date']>='2021-01-02'].groupby('State').sum('Covid-19 Deaths')
postvax

                COVID-19 Deaths
State
Alabama                 23227.0
Alaska                   1712.0
Arizona                 30972.0
Arkansas                20022.0
California              29148.0
Colorado                16873.0
Connecticut             17378.0
Delaware                 8250.0
Florida                 31872.0
Georgia                 31636.0
Hawaii                   2473.0
Idaho                    9093.0
Illinois                25591.0
Indiana                 20389.0
Iowa                    13870.0
Kansas                  16890.0
Kentucky                22199.0
Louisiana               21367.0
Maine                    6673.0
Maryland                23268.0
Massachusetts           20140.0
Michigan                24549.0
Minnesota               15152.0
Mississippi             21691.0
Missouri                20227.0
Montana                  7731.0
Nebraska                 9939.0
Nevada                  21532.0
New Hampshire            7516.0
New Jersey              29022.0
New Mexico              18541.0
New York                58359.0
North Carolina           7268.0
North Dakota             6295.0
Ohio                    25678.0
Oklahoma                22020.0
Oregon                  11441.0
Pennsylvania            28253.0
Rhode Island            10115.0
South Carolina          23007.0
South Dakota             7746.0
Tennessee               25550.0
Texas                   33672.0
Utah                    12736.0
Vermont                  1366.0
Virginia                23983.0
Washington              17600.0
West Virginia           13668.0
Wisconsin               16556.0
Wyoming                  3786.0

In [143]:
prevax.to_csv('prevax_deaths.csv')

In [144]:
postvax.to_csv('postvax_deaths.csv')