In [18]:
#import dependencies
import pandas as pd

CLEANING DEATHS DATA

In [19]:
#read in deaths data
deaths_df = pd.read_csv("Resources/Weekly_deaths.csv")

C:\Users\lmsul\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3147: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
deaths_df

,Data As Of,Start Date,End Date,Group,Year,Month,MMWR Week,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,Age Group,COVID-19 Deaths,Total Deaths,Footnote
0,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,0-4 years,0.0,104.0,NaN
1,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,5-17 years,0.0,41.0,NaN
2,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,18-29 years,0.0,190.0,NaN
3,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,30-39 years,0.0,236.0,NaN
4,04/21/2021,12/29/2019,01/04/2020,By Week,2019/2020,NaN,1.0,01/04/2020,United States,Hispanic,40-49 years,0.0,325.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68899,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,40-49 years,0.0,25.0,NaN
68900,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,50-64 years,NaN,98.0,One or more data cells have counts between 1-9...
68901,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,65-74 years,NaN,89.0,One or more data cells have counts between 1-9...
68902,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,75-84 years,NaN,41.0,One or more data cells have counts between 1-9...
68903,04/21/2021,01/01/2020,04/17/2021,By Total,2020/2021,NaN,NaN,NaN,10,Unknown,85 years and over,NaN,29.0,One or more data cells have counts between 1-9...

In [21]:
deaths_df.dtypes

Data As Of                         object
Start Date                         object
End Date                           object
Group                              object
Year                               object
Month                             float64
MMWR Week                         float64
Week-Ending Date                   object
HHS Region                         object
Race and Hispanic Origin Group     object
Age Group                          object
COVID-19 Deaths                   float64
Total Deaths                      float64
Footnote                           object
dtype: object

In [22]:
#drop unneeded comlumns
deaths_df = deaths_df.drop(["Data As Of", "Start Date", "End Date", "Year", "Month", "MMWR Week", "Total Deaths", "Footnote", "Age Group"], axis=1)

In [23]:
#drop unneeded rows
deaths_df = deaths_df.loc[(deaths_df["HHS Region"] != "United States") & (deaths_df["Group"] == "By Week") & (deaths_df ["Race and Hispanic Origin Group"] != "Unknown")]

In [24]:
deaths_df = deaths_df.drop(["Group"], axis=1)
deaths_df

,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,COVID-19 Deaths
4896,01/04/2020,01,Hispanic,0.0
4897,01/04/2020,01,Hispanic,0.0
4898,01/04/2020,01,Hispanic,0.0
4899,01/04/2020,01,Hispanic,0.0
4900,01/04/2020,01,Hispanic,0.0
...,...,...,...,...
53842,04/17/2021,10,Non-Hispanic White,0.0
53843,04/17/2021,10,Non-Hispanic White,NaN
53844,04/17/2021,10,Non-Hispanic White,NaN
53845,04/17/2021,10,Non-Hispanic White,NaN
53846,04/17/2021,10,Non-Hispanic White,NaN

In [25]:
deaths_df.dtypes

Week-Ending Date                   object
HHS Region                         object
Race and Hispanic Origin Group     object
COVID-19 Deaths                   float64
dtype: object

In [26]:
#convert week to datetime
deaths_df["Week-Ending Date"] = pd.to_datetime(deaths_df["Week-Ending Date"])

In [27]:
deaths_df

,Week-Ending Date,HHS Region,Race and Hispanic Origin Group,COVID-19 Deaths
4896,2020-01-04,01,Hispanic,0.0
4897,2020-01-04,01,Hispanic,0.0
4898,2020-01-04,01,Hispanic,0.0
4899,2020-01-04,01,Hispanic,0.0
4900,2020-01-04,01,Hispanic,0.0
...,...,...,...,...
53842,2021-04-17,10,Non-Hispanic White,0.0
53843,2021-04-17,10,Non-Hispanic White,NaN
53844,2021-04-17,10,Non-Hispanic White,NaN
53845,2021-04-17,10,Non-Hispanic White,NaN
53846,2021-04-17,10,Non-Hispanic White,NaN

In [34]:
weekly_data_df = deaths_df.groupby(["Week-Ending Date", "HHS Region", "Race and Hispanic Origin Group"]).count()["COVID-19 Deaths"]
weekly_data.reset_index()
print(weekly_data_df)

Week-Ending Date  HHS Region  Race and Hispanic Origin Group
2020-01-04        01          Hispanic                                                  9
                              Non-Hispanic American Indian or Alaska Native             9
                              Non-Hispanic Asian                                        9
                              Non-Hispanic Black                                        9
                              Non-Hispanic More than one race                           9
                                                                                       ..
2021-04-17        10          Non-Hispanic Asian                                        7
                              Non-Hispanic Black                                        9
                              Non-Hispanic More than one race                           9
                              Non-Hispanic Native Hawaiian or Other Pacific Islander    8
                              Non-Hispanic White                                        5
Name: COVID-19 Deaths, Length: 4760, dtype: int64

In [12]:
#use get dummies to create variables for race
#deaths_df = pd.get_dummies(deaths_df, columns=["Race and Hispanic Origin Group"])
#deaths_df

,Week-Ending Date,HHS Region,COVID-19 Deaths,Race and Hispanic Origin Group_Hispanic,Race and Hispanic Origin Group_Non-Hispanic American Indian or Alaska Native,Race and Hispanic Origin Group_Non-Hispanic Asian,Race and Hispanic Origin Group_Non-Hispanic Black,Race and Hispanic Origin Group_Non-Hispanic More than one race,Race and Hispanic Origin Group_Non-Hispanic Native Hawaiian or Other Pacific Islander,Race and Hispanic Origin Group_Non-Hispanic White
4896,2020-01-04,01,0.0,1,0,0,0,0,0,0
4897,2020-01-04,01,0.0,1,0,0,0,0,0,0
4898,2020-01-04,01,0.0,1,0,0,0,0,0,0
4899,2020-01-04,01,0.0,1,0,0,0,0,0,0
4900,2020-01-04,01,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
53842,2021-04-17,10,0.0,0,0,0,0,0,0,1
53843,2021-04-17,10,NaN,0,0,0,0,0,0,1
53844,2021-04-17,10,NaN,0,0,0,0,0,0,1
53845,2021-04-17,10,NaN,0,0,0,0,0,0,1
53846,2021-04-17,10,NaN,0,0,0,0,0,0,1

In [35]:
weekly_data.to_csv("Resources\Clean_Data.csv")

In [14]:
#group by week, race, region and sum covid deaths
#indexing = deaths_df.set_index("Week-Ending Date", "HHS Region")
#indexing

,HHS Region,COVID-19 Deaths,Race and Hispanic Origin Group_Hispanic,Race and Hispanic Origin Group_Non-Hispanic American Indian or Alaska Native,Race and Hispanic Origin Group_Non-Hispanic Asian,Race and Hispanic Origin Group_Non-Hispanic Black,Race and Hispanic Origin Group_Non-Hispanic More than one race,Race and Hispanic Origin Group_Non-Hispanic Native Hawaiian or Other Pacific Islander,Race and Hispanic Origin Group_Non-Hispanic White
Week-Ending Date,,,,,,,,,
2020-01-04,01,0.0,1,0,0,0,0,0,0
2020-01-04,01,0.0,1,0,0,0,0,0,0
2020-01-04,01,0.0,1,0,0,0,0,0,0
2020-01-04,01,0.0,1,0,0,0,0,0,0
2020-01-04,01,0.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
2021-04-17,10,0.0,0,0,0,0,0,0,1
2021-04-17,10,NaN,0,0,0,0,0,0,1
2021-04-17,10,NaN,0,0,0,0,0,0,1
2021-04-17,10,NaN,0,0,0,0,0,0,1
2021-04-17,10,NaN,0,0,0,0,0,0,1

CLEANING VACCINATION DATA

In [15]:
#read in data
JJ_df = pd.read_csv("Resources/Janssen.csv")
Moderna_df = pd.read_csv("Resources/Moderna.csv")
Pfizer_df = pd.read_csv("Resources/Pfizer.csv")

In [16]:
JJ_df

         Jurisdiction Week of Allocations  1st Dose Allocations
0         Connecticut          04/12/2021                  6400
1               Maine          04/12/2021                  2500
2       Massachusetts          04/12/2021                 12300
3       New Hampshire          04/12/2021                  2500
4        Rhode Island          04/12/2021                  2000
..                ...                 ...                   ...
373            Alaska          03/01/2021                  8900
374             Idaho          03/01/2021                 13300
375            Oregon          03/01/2021                 34400
376        Washington          03/01/2021                 60900
377  Federal Entities          03/01/2021                139200

[378 rows x 3 columns]